
/* --- General CTA --- */
.ppfa-cta {
	display: inline-block;
	height: 32px;
	font-size: 14px;
	color: #fff;
	padding: 0 15px;
	cursor: pointer;
}
.ppfa-cta:hover {color: rgba(0,0,0,0.33);}
.ppfa-cta:focus {color: #fff;}
.ppfa-cta:active {
	color: #fff;
	transition: all 0.25s ease-in;
	position: relative;
	top: 1px;
}

/* --- Primary CTA --- */
.ppfa-cta-primary {
	background-color: #4db3d0;
	border-top: 4px solid #358cb3;
	padding-top: 1px;
}
.ppfa-cta-primary:hover {
	background-color: #4db3d0;
	border-top: 4px solid #4db3d0;
	border-bottom: 4px solid #358cb3;
	padding-bottom: 1px;
}
.ppfa-cta-primary:active {
	background-color: #367d91;
	border-top: 4px solid #367d91;
	border-bottom: 4px solid #25627d;
}

/* --- Neutral CTA --- */
.ppfa-cta-neutral {
	background-color: #999;
	border-top: 4px solid #6b6b6b;
	padding-top: 1px;
}
.ppfa-cta-neutral:hover {
	background-color: #999;
	border-top: 4px solid #999;
	border-bottom: 4px solid #6b6b6b;
	padding-bottom: 1px;
}
.ppfa-cta-neutral:active {
	background-color: #6b6b6b;
	border-top: 4px solid #6b6b6b;
	border-bottom: 4px solid #333;
}

/* --- Warning CTA --- */
.ppfa-cta-warning {
	background-color: #d62222;
	border-top: 4px solid #ab0a0a;
	padding-top: 1px;
}
.ppfa-cta-warning:hover {
	background-color: #d62222;
	border-top: 4px solid #d62222;
	border-bottom: 4px solid #ab0a0a;
	padding-bottom: 1px;
}
.ppfa-cta-warning:active {
	background-color: #ab0a0a;
	border-top: 4px solid #ab0a0a;
	border-bottom: 4px solid #951818;
}

/* --- Icon Comment CTA --- */
.ppfa-cta-icon-comment{
	background-color:#4db4d0; 
	border-radius:0px;
	border-top: 3px solid #358cb3;
	color:white; 
	cursor:pointer; 
	height:27px; 
	text-align:center; 
	padding: 0 10px;
}
.ppfa-cta-icon-comment:after{
	 content: '';
	 position: relative;
	 display: block;
	 bottom: 3px;
	 right: 5px;
	 width: 0;
	 height: 0;
	 border-style: solid;
	 border-width: 9px 12px 0 0px;
	 border-color: #4db4d0 transparent;
	 -webkit-transform: rotate(360deg);
}
.ppfa-cta-icon-comment:hover{
	border-bottom: 3px solid #358cb3;
	border-top: 3px solid #4db3d0;
}
.ppfa-cta-icon-comment:active{
	background-color: #367d91;
	border-top: 3px solid #367d91;
	border-bottom: 3px solid #25627d;
	color:#000;
}
.ppfa-cta-icon-comment:active:after{
	border-color: #367d91 transparent;
}
/* --- Other Buttons & Links --- */
/* --- Edit --- */
.ppfa-link-edit{color:#a7a7a7}
.ppfa-link-edit:hover{color:#5ab8b7}
.ppfa-link-edit:active{color:#323232}
/* --- Refresh --- */
.ppfa-link-refresh{color:#a4d1d7}
.ppfa-link-refresh:hover{color:#3fabc8}
.ppfa-link-refresh:active{color:#323232}
/* --- Delete --- */
.ppfa-link-delete{color:#808080}
.ppfa-link-delete:hover{color:red}
.ppfa-link-delete:active{color:#323232}
/* --- Expand --- */
.ppfa-link-expand{color:#ababab}
.ppfa-link-expand:hover,.ppfa-link-expand:active{color:#323232}
/* --- Minimize --- */
.ppfa-link-minimize{color:#ababab}
.ppfa-link-minimize:hover,.ppfa-link-minimize:active{color:#323232}
/* --- Export --- */
.ppfa-link-export{color:#378cb1}
a.ppfa-link-export:hover{color:#999999}
.ppfa-link-export:active{color:#323232}
/* --- Text Inputs --- */
.ppfa-text-input {
	height: 32px;
	border: 1px solid #d2cccc;
	border-radius: 0;
	padding: 0 10px;
}
.ppfa-text-input:focus {
	border: 2px solid #d2cccc;
}
.ppfa-text-input.warning {
	color: #d62222;
	border: 2px solid #d62222;
}
.ppfa-text-input.disabled {
	border: 1px solid #d2cccc;
	background-color: #f8f9f9;
}

/* --- Dropdown for hover tag li --- */
.dropdown-menu > li:last-child > a:first-child{
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.dropdown-menu > li:first-child > a:first-child{
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{
	background:#c8e9f2;
	}

/* --- Dropdown --- */
.ppfa-dropdown {
	min-width: 100px;
	height: 32px;
	background-color: #ebebeb;
	font-size: 14px;
	color: #333;
	border: 0;
	text-align: left;
}
.ppfa-dropdown .caret {
	float: right;
	line-height: 30px;
	position: relative;
	top: 8px;
}
.ppfa-dropdown:after {
	content: "";	
	background-color: rgba(0,0,0,0.05);
	display: block;
	width: 24px;
	height: 33px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	border-top: 2px solid #d2cccc;
}
.ppfa-dropdown-group .dropdown-menu {
	border: 1px solid #ccc;
	min-width: 100px;
	border-radius: 0;
}
.btn-group.open .dropdown-toggle {
	color: #4db3d0;
}
.btn-group.open .dropdown-toggle:after {
	background-color: rgba(0,0,0,0.25);
	margin-left: 1px;
}
.btn-group.open .dropdown-toggle .caret {
	color: #333;
}

/* --- Dropdown Test --- */
.ppfa-dropdown-test {
	min-width: 100px;
	height: 32px;
	background-color: #ebebeb;
	font-size: 14px;
	color: #333;
	border: 0;
	text-align: left;
}
.ppfa-dropdown-test .caret {
	float: right;
	line-height: 30px;
	position: relative;
	top: 8px;
}
.ppfa-dropdown-test:after {
	content: "";	
	background-color: rgba(0,0,0,0.05);
	display: block;
	width: 24px;
	height: 33px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	border-top: 2px solid #d2cccc;
}
.ppfa-dropdown-group-test .dropdown-menu {
	min-width: 100px;
	border-radius: 0;
	background:#fff;
	margin-top:2px;
	-webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
	border-top:none;
}
.ppfa-dropdown-group-test .ppfa-dropdown-test:focus{
	background-color:#fff;
}
.ppfa-dropdown-test:focus:after{border-top:none;border-bottom: 2px solid #d2cccc;} 
.btn-group.open .dropdown-toggle {
	color: #4db3d0;
}
.btn-group.open .dropdown-toggle:after {
	background-color: rgba(0,0,0,0.25);
	margin-left: 1px;
}
.btn-group.open .dropdown-toggle .caret {
	color: #333;
}

/* --- Dropdown Master/EOP ---*/
.ppfa-dropdown-eop {
	min-width: 100px;
	height: 32px;
	background-color: #fff;
	font-size: 14px;
	color: #333;
	text-align: left;
	border: 0 none;
}
.ppfa-dropdown-eop .caret {
	float: right;
	line-height: 30px;
	position: relative;
	top: 8px;
}
.ppfa-dropdown-eop:after {
	content: "";	
	background-color: rgba(0,0,0,0.05);
	display: block;
	width: 24px;
	height: 33px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	border-top: 2px solid #d2cccc;
}
.ppfa-dropdown-group-eop{
	border: 1px solid #d2cccc;
}
.ppfa-dropdown-eop:focus:after{border-top:none;border-bottom: 2px solid #d2cccc;} 
.ppfa-dropdown-group-eop .dropdown-menu{
	min-width: 100px;
	border-radius: 0;
	background:#fff;
	margin-top:2px;
	-webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
	border-top:none;}
.ppfa-dropdown-group-eop .dropdown-menu > li:first-child > a:first-child{color:green}
.ppfa-dropdown-group-eop .dropdown-menu > li:nth-child(2) > a:first-child{color:red}

/* --- DAZ :: Select --- */
.ppfa-select.select2-dropdown.select2-container-active {
	border: 1px solid orange;
}
.ppfa-select.select2-dropdown-open.select2-container-active {
	border-radius:0;
}

/* --- Select --- */
.select2-arrow{border-style:hidden; right:0px; top:0; padding:5px 6px 5px 4px}
.select2-dropdown-open .select2-arrow{background:rgba(0, 0, 0, 0.25);}
.select-primary .select2-choice{background:#fff; color:#000;}
.select2-drop .select2-results > li:first-child > .select2-result-label{border-top-left-radius:0px;border-top-right-radius:0px;}
.select2-drop .select2-results > li:last-child> .select2-result-label{border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
.select2-drop .select2-result-selectable .select2-result-label:hover{background:#c8e9f2;}
.select2-drop .select2-highlighted > .select2-result-label {background: #c8e9f2;}
.select2-drop{background:#fff; margin-top:4px; border-radius:0;
	-webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);}
.select2-drop-multi .select2-results,.select2-drop-multi .select2-result{padding:0;}
.select2-drop-multi .select2-result-label{border-radius:0;}
.select.form-control, .select.select2-search input[type="text"]{border-color:#fff}
	
/* ---- Select Type and Select---*/
.ppfa-select .select2-choice{background:#ebebeb; border-radius:0; padding:4px 39px 4px 15px; border: 2px solid #ebebeb}
.ppfa-select .select2-choice:focus{background:#fff;}
.select2-dropdown-open .select2-choice{border: 2px solid #d2cccc;}
.ppfa-select .select2-arrow:after {
	content: "";	
	background-color: rgba(0,0,0,0.05);
	display: block;
	width: 27px;
	height: 32px;
	float: right;
	position: absolute;
	top: -1px;
	left:2px;
	border-top: 2px solid #d2cccc;
}
.ppfa-select .select2-choice:focus{border:2px solid #d2cccc;}
.ppfa-select.open .select2-arrow:after{background-color: rgba(0,0,0,0.25); border-top:none;}
.ppfa-select .select2-choice:hover{background:#ebebeb; color:#000; border: 2px solid #ebebeb}

/* ---- Select Type and Select 1---*/
.ppfa-select-type .select2-choices{background:#ebebeb; border:none; border-radius:0; padding-left:10px;}
.ppfa-select-type .select2-arrow:after {
	content: "";	
	background-color: rgba(0,0,0,0.05);
	display: block;
	width: 27px;
	height: 32px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	border-top: 2px solid #d2cccc;
}
.ppfa-select-type .select2-choice:focus, .ppfa-select-type .select2-choice:hover,
.ppfa-select-type .select2-choice:active{background:#fff; border: 2px solid #d2cccc;}
.ppfa-select-type .select2-search-choice{color:#000; font-size:14px; margin:0; padding: 8px 21px 8px 10px; height:32px;}

/* ---- Select Surveys---*/
.ppfa-select-surveys .select2-choice{background:#fff; border:1px solid #d2cccc; border-radius:0; padding:5px 39px 5px 15px}
.ppfa-select-surveys .select2-arrow:after {
	content: "";	
	background-color: rgba(0,0,0,0.05);
	display: block;
	width: 27px;
	height: 32px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	border-top: 2px solid #d2cccc;
}
.ppfa-select-surveys.select2-container-active{border:2px solid #d2cccc;border-radius:0;}
.ppfa-select-surveys.select2-container-active .select2-choice{border:none} 
.ppfa-select-surveys.open .select2-arrow:after{background-color: rgba(0,0,0,0.25);border:2px solid #d2cccc;}
.ppfa-select-surveys.select2-dropdown-open.select2-container-active {border-radius:0;}
.ppfa-select-surveys .select2-choice:hover{background:#fff; color:#000; border-color:#d2cccc}

/* --- Search --- */
.ppfa-input-search{
	background:#ebebeb;
	border:2px solid #ebebeb; 
	border-bottom-left-radius:2px;
	border-top-left-radius:2px;
	height:30px;
	padding:4px 12px;
	}
.btn.ppfa-search{height:30px; padding: 10px;}
.btn [class^="fui-"]{top:auto; bottom:5px;}
.ppfa-search:focus, .ppfa-input-search:focus,.input-group-btn .ppfa-search.focus,.ppfa-search-group .ppfa-input-search.focus{
	border:2px solid #d2cccc;
	background:#fff;
	color:#8cbcd2
	}
.form-group.focus .input-group-btn .btn, .input-group.focus .input-group-btn .btn{
	border:2px solid #d2cccc; 
	border-left:none;
	background:#fff;
	color:#8cbcd2
	}
.ppfa-search:focus, .input-group-btn .ppfa-search.focus{
	border-left:none}
.input-group-btn:last-child > .ppfa-search{
	background-color:#ebebeb;
	border:2px solid #ebebeb;
	border-left:none}

/* --- Checkbox / Radio --- */

.checkbox input.custom-checkbox[type="checkbox"]:checked + .icons .icon-checked,
.radio input.custom-checkbox[type="checkbox"]:checked + .icons .icon-checked,
.checkbox input.custom-radio[type="radio"]:checked + .icons .icon-checked,
.radio input.custom-radio[type="radio"]:checked + .icons .icon-checked {
	color: #4db3d0;
}
.bootstrap-switch-primary {
	color: #4db3d0;
}
.bootstrap-switch-primary ~ .bootstrap-switch-handle-off::before {
	background-color: #4db3d0;
}
/* --- Demo switches --- */
.ppfa-demo-switches .bootstrap-switch-primary {
	color: #333333;
	background-color:#70d9b0;
} 
.ppfa-demo-switches.bootstrap-switch-handle-off::before{border-color:#70d9b0}
.ppfa-demo-switches .bootstrap-switch-default{
	background-color:#ececec;
	color: #333333;
}
.ppfa-demo-switches .bootstrap-switch-primary ~ .bootstrap-switch-handle-off::before{background-color:#333333;}
.ppfa-demo-switches .bootstrap-switch-primary ~ .bootstrap-switch-handle-off::before{border-color:#70d9b0}
.ppfa-demo-switches .bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-default::before{
	border-color:#ececec;
	background:#d62222;
}
.ppfa-demo-switches .bootstrap-switch-on .bootstrap-switch-primary ~ .bootstrap-switch-handle-off{box-shadow:none}
/* --- Show textbox search in select--- */
.select2-search{display:inline-block}
.form-control, .select2-search input[type="text"]{border-radius:3px;}
.form-group.focus .form-control, .form-control:focus,
.form-group.focus .select2-search input[type="text"], .select2-search input[type="text"]:focus{
	border-color:#d2cccc;
}

/* --- PPFA Custom Font --- */
@charset "UTF-8";

@font-face {
  font-family: "ppfa-aed-custom";
  src:url("../fonts/ppfa-ead-custom.eot");
  src:url("../fonts/ppfa-aed-custom.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ppfa-aed-custom.woff") format("woff"),
    url("../fonts/ppfa-aed-custom.ttf") format("truetype"),
    url("../fonts/ppfa-aed-custom.svg#ppfa-aed-custom") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "ppfa-aed-custom" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ppfa-aed-custom" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-accordion-button:before { content: "b"; }
.icon-arrow-accordion-button-copy:before { content: "i"; }
.icon-calendar-icon:before { content: "j"; }
.icon-cancel-icon:before { content: "k"; }
.icon-check-icon:before { content: "l"; }
.icon-comment-icon:before { content: "m"; }
.icon-confirm-icon:before { content: "t"; }
.icon-delete-icon:before { content: "n"; }
.icon-document-icon:before { content: "o"; }
.icon-drop-down-arrow:before { content: "p"; }
.icon-edit-icon:before { content: "q"; }
.icon-excel-file-icon:before { content: "0"; }
.icon-expand:before { content: "r"; }
.icon-folder-icon:before { content: "s"; }
.icon-menu:before { content: "c"; }
.icon-more-icon:before { content: "d"; }
.icon-note-icon:before { content: "e"; }
.icon-add-icon:before { content: "a"; }
.icon-private-eye:before { content: "f"; }
.icon-retract:before { content: "g"; }
.icon-save-icon:before { content: "z"; }
.icon-save2-icon:before { content: "h"; }
.icon-searching-magnifying-glass:before { content: "y"; }
.icon-sort:before { content: "x"; }
.icon-tick-sign:before { content: "w"; }
.icon-trash-bin:before { content: "v"; }
.icon-warning-sign-icon:before { content: "u"; }
.icon-question58:before { content: "A"; }



